/* components/reservation-modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 90%;
  max-width: 500px;
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.modalBody {
  margin: 50px 0;
}
.topsection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0px;
}