.summaryContainer {
    background-color: #fff;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    width: 413px;
    min-width: 240px;
    display: flex;
  }
  
  .detailsSection {
    color: #000;
    background-color: #fff;
    border: 1px solid #6c7275;
    border-radius: 6px;
    flex-direction: column;
    width: 413px;
    padding: 24px;
    font-family:
      Noto Sans TC,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    position: relative;
  }
  
  .totalsSection {
    border: 1px solid #000;
    border-radius: 3px;
    flex-direction: column;
    justify-content: start;
    width: 413px;
    margin-top: 25px;
    padding: 24px;
    display: flex;
  }
  
  .summaryTitle {
    color: #141718;
    font-feature-settings:
      "liga" off,
      "clig" off;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
  }
  
  .summaryContent {
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    display: flex;
  }
  
  .checkoutButton {
    font-feature-settings:
      "liga" off,
      "clig" off;
    color: #fff;
    text-align: center;
    letter-spacing: -0.4px;
    cursor: pointer;
    background-color: #eb854a;
    border: none;
    border-radius: 3px;
    align-self: stretch;
    gap: 8px;
    margin-top: 49px;
    padding: 10px 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }
  
  @media (width<=991px) {
    .summaryContainer {
      max-width: 100%;
    }
  
    .detailsSection {
      max-width: 100%;
    }
  
    .totalsSection {
      max-width: 100%;
    }
  
    .checkoutButton {
      margin-top: 40px;
      padding: 10px 20px;
    }
  }
  
  @media (width<=640px) {
    .summaryContainer {
      width: 100%;
    }
  
    .checkoutButton {
      width: 100%;
    }
  }
  