.summaryContainer {
    background-color: #fff;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    width: 413px;
    min-width: 240px;
    display: flex;
  }
  
  .detailsSection {
    color: #000;
    background-color: #fff;
    border: 1px solid #6c7275;
    border-radius: 6px;
    flex-direction: column;
    width: 413px;
    padding: 24px;
    font-family:
      Noto Sans TC,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    position: relative;
  }
  
  .totalsSection {
    border: 1px solid #000;
    border-radius: 3px;
    flex-direction: column;
    justify-content: start;
    width: 413px;
    margin-top: 25px;
    padding: 24px;
    display: flex;
  }
  
  .summaryTitle {
    color: #141718;
    font-feature-settings:
      "liga" off,
      "clig" off;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    padding: 12px;
  }
  
  .summaryContent {
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    display: flex;
  }
  
  .checkoutButton {
    font-feature-settings:
      "liga" off,
      "clig" off;
    color: #fff;
    text-align: center;
    letter-spacing: -0.4px;
    cursor: pointer;
    transform: skew(-35deg);
    background-color: #eb854a;
    border: none;
    align-self: stretch;
    gap: 8px;
    margin-top: 49px;
    padding: 10px 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .checkoutButton span {
    display: inline-block;
    transform: skew(35deg); /* 讓文字回正 */
  }
  
  @media (width<=991px) {
    .summaryContainer {
      max-width: 100%;
    }
  
    .detailsSection {
      max-width: 100%;
    }
  
    .totalsSection {
      max-width: 100%;
    }
  
    .checkoutButton {
      margin-top: 40px;
      padding: 10px 20px;
    }
  }
  
  @media (width<=640px) {
    .summaryContainer {
      width: 100%;
    }
  
    .checkoutButton {
      width: 100%;
    }
  }

  /* OrderTotals CSS */
  .totalsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .lineItems {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    max-width: 365px;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
  }
  
  .lineItem {
    border-bottom: 1px solid #141718;
    justify-content: space-between;
    align-items: center;
    gap: 40px 100px;
    width: 100%;
    padding: 13px 16px;
    display: flex;
  }
  
  .lineItemShipping {
    border-bottom: 1px solid #141718;
    justify-content: space-between;
    align-items: center;
    gap: 40px 100px;
    width: 100%;
    margin-top: 12px;
    padding: 13px 16px;
    display: flex;
  }
  
  .lineItemLabel {
    /* font-feature-settings:
      "liga" off,
      "clig" off; */
    align-self: stretch;
    margin: auto 0;
  }
  
  .lineItemValue {
    /* font-feature-settings:
      "liga" off,
      "clig" off; */
    align-self: stretch;
    margin: auto 0;
  }
  
  .divider {
    /* border-bottom: 1px solid var(--Black-200, #eaeaea); */
    width: 100%;
    min-height: 52px;
    padding: 13px 0;
    display: flex;
  }
  
  .orderTotal {
    color: #141718;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 13px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
  }
  
  .totalRow {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 40px 160px;
  }
  
  .totalLabel {
    /* font-feature-settings:
      "liga" off,
      "clig" off; */
    margin: 0;
    font-size: 20px;
  }
  
  .totalValue {
    text-align: right;
    /* font-feature-settings:
      "liga" off,
      "clig" off; */
    margin-left: auto;
  }
  
  