.breadcrumbContainer {
    /* max-width: 300px; */
    margin-left: 14%;
    position: relative;
    font-family: 'Noto Serif TC', serif;
    box-sizing: border-box;
  }
  
  .breadcrumb {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* border-bottom: 1px solid #eee; */
    background-color: transparent;
  }
  
  .breadcrumbItem {
    position: relative;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  .breadcrumbItem:not(:last-child)::after {
    content: '›';
    position: absolute;
    top: 13px;
    right: -5px;
    color: #666;
    font-size: 20px;
    z-index: 2;
  }
  
  .breadcrumbItem a {
    text-decoration: none;
    color: #666;
    font-size: 18px;
    font-family: 'Noto Serif TC', serif;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
    height: 60px;
    line-height: 60px;
    display: block;
  }

  .breadcrumbItem span {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Noto Serif TC', serif;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
    height: 60px;
    line-height: 60px;
    display: block;
  }

  .breadcrumbItem.active {
    font-weight: bold;
    color: #e96d14 !important; 
  }

  @media (width <= 960px) {
  .breadcrumbContainer{
    width: 100%;
    margin: 0;
  }

}