.container {
  position: relative;
  margin-top: 10px;
}

.hearts {
  color: #f87808;
  border: 0;
  background-color: #f8fafb;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
  transform: scale(1);
  border: #333 1px solid;
}

.hearts:hover {
  transform: scale(1.1);
}

.text {
  margin-left: 8px;
  white-space: nowrap;
  color: #333;
  font-size: 16px;
}

.heart {
  font-size: 28px;
}
