
.card {
    flex-grow: 1;
    flex-shrink: 1;
    align-self: stretch;
    width: 250px;
    height: 340px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }

  .card:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 15px rgba(73, 41, 12, 0.8);
    z-index: 1;
  }
  
  .cardDark {
    background-color: rgb(255, 255, 255);
    color: #191313;
  }
  
  .cardLight {
    background-color: #fff;
    color: #000;
  }
  
  .imageContainer {
    aspect-ratio: 1.169;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .productImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }
  
  .iconWrapper {
    border-radius: 50px;
    width: 40px;
    padding: 10px 7px;
    position: relative;
    z-index: 1;
  }

  .content {
    font-family:
      "Noto Serif TC",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
      padding: 8px;
  }
  
  .header {
    justify-content: space-between;
    align-items: start;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    height: 30px;
  }

  .price{
    font-size: 16px;
  }
  
  .divider {
    border: 1px solid currentColor;
    width: 380px;
    max-width: 100%;
    min-height: 1px;
    margin-top: 11px;
    color: #9a9fa2;
  }
  
  .description {
    color: #646b6f;
    margin-top: 11px;
    font-size: 14px;
    height: 43px;
  }
  
  .cardLight .description {
    color: #0f1819;
    margin-top: 11px;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .reviewCount {
    font-size: 14px;
    color: #666;
    margin-left: 4px;
  }
  
  .noReviews {
    font-size: 14px;
    color: #999;
  }
  
  @media (width <= 390px) {
    .card{
      width: 200px;
      height: 350px;
      margin: 0 10px;
    }
  }
  