/* #region ================= Login Form====================== */
.flexContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.loginContainer {
  position: relative;
  display: flex;
  width: 70vw;
  height: 80vh;
  margin: auto;
  background-image: url('/member-bg.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.loginContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.2px);
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 60px;
  z-index: 1; /* 確保內容在遮罩層上方 */
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.form {
  background-color: #1e1e1ebe;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 25px 15px;
  border-radius: 3px;
  backdrop-filter: blur(5px);
}

.titleGroup {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 38%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
}
.formGroup .point {
  width: 80%;
}
.formGroup label {
  width: 88%;
  display: flex;
  margin: auto;
  margin-bottom: 8px;
}
.formGroup input {
  width: 80%;
  padding: 10px;
  margin: 0px auto;
  background: #f878081e;
  color: #fff;
  border: 1px solid #f8780846;
  border-radius: 3px;
}
.formGroup input::placeholder {
  color: #fff;
}
.formGroup input:focus {
  outline: none;

  box-shadow: inset 1px 2px 8px #f87808;
  transition: all 0.3s ease-in-out;
}
.iconBtn {
  border: none;
  color: #ffffff;
  font-size: 16px;
  background-color: transparent;
}
.loginBtns {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}

.loginBtns a {
  font-size: 14px;
  border-bottom: 1px solid transparent;
}
.loginBtns a:hover {
  border-bottom: 1px solid #f87808;
  transition: all 0.3s ease-in-out;
}
.loginBtn {
  width: 100%;
  background: transparent;
  padding: 5px 0px;
  border: 1px solid #f8780886;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
}
.loginBtn:hover {
  box-shadow: inset 1px 2px 8px #f87808;
  transition: all 0.3s ease-in-out;
}

.formGroup div {
  display: flex;
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: 4px;
  justify-content: flex-end;
}
.googleBtns {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}
.googleLoginBtn {
  width: 100%;
  background: transparent;
  padding: 5px 0px;
  border: 1px solid #f8780886;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  backdrop-filter: blur(5px);
}
.googleLoginBtn:hover {
  box-shadow: inset 1px 2px 8px #f87808;
  transition: all 0.3s ease-in-out;
}
.textDanger {
  position: absolute;
  left: 0;
  color: #f87808;
  font-size: 12px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  left: 50px;
  top: 15px;
  padding: 5px;
  border: 1px solid transparent;

  border-radius: 3px;
}
.home:hover {
  border: 1px solid #f87808bb;
  box-shadow: inset 1px 2px 12px #fb9135;
  transition: all 0.3s ease-in-out;
}
.rgBtn {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid transparent;
}
.rgBtn a {
  border-bottom: 1px solid transparent;
}
.rgBtn:hover a {
  border-bottom: 1px solid #f87808;
  transition: all 0.3s ease-in-out;
}
/* #endregion ================= Login Form ====================== */

/* #region ================= Register Form====================== */
.registerContainer {
  position: relative;
  display: flex;
  width: 70vw;
  height: 80vh;
  margin: auto;
  background-image: url('/member-bg-2.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.registerContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.2px);
}

.visibility {
  visibility: hidden;
}

.registerContainer .home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  left: 20px;
  top: 15px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.registerContainer .titleGroup {
  padding-left: 30px;
}

/* #endregion ================= Register Form ====================== */

/* #region ================= Forget Password Form====================== */

.forgetPassContainer {
  position: relative;
  display: flex;
  width: 60vw;
  height: 70vh;
  margin: auto;
  background-image: url('/member-bg-2.jpg');
  background-size: cover;
  /* background-position: center; */
  border-radius: 3px;
}

.forgetPassContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.2px);
}
.forgetPassContainer .content {
  flex-direction: column;
  padding:70px 0px;
}
.forgetPassContainer .form{
  margin: 0;
}
.forgetPassContainer .titleGroup {
  width: 80%;
  margin-top: 0;
  margin-bottom: 20px;
}

/* #endregion ================= Forget Password Form ====================== */

/* #region ================= RWD ====================== */
@media (max-width: 1440px) {
  .banner {
    background-image: url('/imgs/article/banner/articlebanner1440.jpg');
  }
}
@media (max-width: 1390px) {
  .articleList {
    gap: 4vw;
  }
}

@media (max-width: 1140px) {
  .selectBtn {
    display: block;
  }
  .selectArea {
    display: none;
    position: absolute;
    z-index: 20;
    background-color: #ebeff1;
    width: 90%;
  }
  .articleRight {
    width: 100%;
  }
  .categoryTitle {
    background-color: #dee5e7;
  }
  .selectPart li {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .breadcrumbItem a {
    font-size: 12px;
  }
  .selectArea {
    flex-direction: column;
    align-items: center;
  }
  .selectPart {
    width: 100%;
    border-right: none;
    text-align: left;
  }
}
@media (max-width: 500px) {
  .articleList {
    justify-content: center;
  }
}
@media (max-width: 420) {
  .banner {
    background-image: url('/imgs/article/banner/articlebanner420.jpg');
  }
}
/* #endregion ================= RWD END ====================== */
