/* #region ================= Login Form====================== */
.loginContainer {
  display: flex;
  justify-content: center;
  z-index: -1;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: #fff;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 3px;
}
.home:hover {
  background: #f87808;
}
.rgBtn {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid transparent;
}
.rgBtn:hover a {
  border-bottom: 1px solid #f87808;
}
.loginContainer .form {
  background-color: #1e1e1e;
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  border-radius: 3px;
  border: 1px solid salmon;
  backdrop-filter: blur(5px);
}

.loginContainer .titleGroup {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 30px;
}

.loginContainer .formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
}

.loginContainer .formGroup label {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 4px;
}
.loginContainer .formGroup input {
  width: 90%;
  padding: 10px;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.loginContainer .formGroup input::placeholder {
  color: #fff;
}
.loginContainer .formGroup input:focus {
  outline: none;
  border: 1px solid #f87808;
}
.iconBtn {
  border: none;
  color: #ffffff;
  font-size: 16px;
  background-color: transparent;
}
.loginBtns {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}
.loginBtns a {
  font-size: 14px;
}
.loginContainer .loginBtn {
  width: 100%;
  background: #f87808;
  padding: 10px 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
}
.loginContainer hr {
  margin-top: 20px;
  border: 0.2px solid #f87808;
}
.formGroup div {
  display: flex;
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: 4px;
  justify-content: flex-end;
}
.googleLoginBtn {
  width: 100%;
  background: #f87808;
  padding: 10px 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
}

.textDanger {
  /* margin-left: 15px; */
  position: absolute;
  left: 0;
  color: #f87808;
  font-size: 12px;
}
/* #endregion ================= Login Form ====================== */

/* #region ================= Register Form====================== */
.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: #fff;
}
.registerContainer .form {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  border-radius: 3px;
  border: 1px solid salmon;
  backdrop-filter: blur(5px);
  background-color: #1e1e1e;
  /* background: rgba(255, 255, 255, 0.636); */
}
.registerContainer .titleGroup {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 30px;
}

.registerContainer .formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
}

.registerContainer .formGroup label {
  width: 90%;
  display: flex;
  margin: auto;
  margin-bottom: 4px;
}
.registerContainer .formGroup input {
  width: 90%;
  padding: 10px;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.registerContainer .formGroup input::placeholder {
  color: #fff;
}
.registerContainer .formGroup input:focus {
  outline: none;
  border: 1px solid #f87808;
}
.visibility {
  visibility: hidden;
}
.registerBtns {
  width: 90%;
  margin: auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  /* border: 1px solid salmon; */
}
.registerContainer .registerBtn {
  width: 100%;
  background: #f87808;
  padding: 10px 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
}
.registerBtns a {
  font-size: 14px;
}
.formGroup div {
  display: flex;
  width: 90%;
  position: relative;
  margin: auto;
  margin-top: 4px;
  justify-content: flex-end;
}
.textDanger {
  position: absolute;
  left: 0;
  color: #f87808;
  font-size: 12px;
}

/* #endregion ================= Register Form ====================== */
