

.registerContainer .form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 140px auto;
}
.inputGroup {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.formGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
}
.formGroup label {
  padding: 10px;
  width: 15%;
  display: flex;
  justify-content: flex-end;
  color: #0b3760;
}
.right input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #88a9c8;
}
.right input:focus {
  outline: none;
  border: 1px solid #db6318;
  border-radius: 3px;
}

.textDanger {
  color: red;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

.iconBtn {
  display: flex;
  justify-content: flex-start;
  border: none;
  color: #9c9c9c;
  font-size: 16px;
  background-color: transparent;
}
.formGroup:first-child .iconBtn {
  visibility: hidden;
}

.registerBtn {
  padding: 8px 18px;
  margin-top: 50px;
  width: 80%;
  text-align: center;
  border-radius: 3px;
  background: #0b3760;
  color: #fff;
  font-size: 18px;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns a {
  font-size: 12px;
  margin-right: 4px;
}