/* 聊天室預設畫面 */
.intoChatRoom {
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.intoChatRoom p {
  font-size: 30px;
}
.intoChatRoom a {
  font-size: 20px;
  color: #f87808;
  text-decoration: underline;
  text-underline-offset: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.intoChatRoom a:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
/* end */
.chatsPage {
  min-height: 80vh;
  width: 80%;
  margin: 0 20px;
  padding: 20px;
  background-color: #e5effa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chatsPage h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search input {
  padding: 8px;
  width: 100%;
  margin-right: 10px;
}

.search button {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.search button:hover {
  background-color: #45a049;
}

.chatsPage h2 {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

.chatsPage ul {
  list-style: none;
  padding: 0;
}

.chatsPage ul li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.chatsPage ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatsPage button {
  margin: 5px;
  padding: 6px 10px;
  border: none;
  background-color: #ecb246;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.chatsPage button:hover {
  background-color: #ecb246;
}

.chatsPage button:active {
  background-color: #ecb246;
}
