.chatLayout {
  background-color: #f4f4f4;
  display: flex;
  height: calc(100vh - 360px);
  padding: 20px;
  margin-top: 70px;
}
.chatSidebar {
  width: 30%;
  height: calc(100vh - 400px);
}
.messageArea {
  width: 70%;
  height: calc(100vh - 400px);
}
