.container {
    display: flex;
    justify-content: center; /* 水平置中 */
    gap: 90px; /* 設定按鈕間距 */
    margin: 20px; /* 與表格的間距 */
}

.pseudo {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    background-color: #e0703c;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transform: skew(35deg); /* 讓按鈕變成平行四邊形 */
    overflow: hidden;
}

.pseudo span {
    display: inline-block;
    transform: skew(-35deg); /* 讓文字回正 */
}

.pseudo2 {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    background-color: #e0703c;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transform: skew(-35deg); /* 讓按鈕變成平行四邊形 */
    overflow: hidden;
}

.pseudo2 span {
    display: inline-block;
    transform: skew(35deg); /* 讓文字回正 */
}

