/* CourseCalendar.module.css */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .containerH2{
    color: #142020;
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
  }
  
  .dateInfo {
    font-size: 24px;
    color: #666;
  }
  
  .nextWeek {
    height: 40px;
    padding: 4px 4px;
    background-color: white;
    color:  #142020;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 35px;
    text-align: center;
    line-height: 15px;

  }
  
  .nextWeek:hover {
    background-color: #142020;
    color: white;

  }

  .nextWeek[disabled] {
    opacity: 0.5;
    pointer-events: none;
    background-color: #f0f0f0;
    color: #999;
  }
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #333;
    border-radius: 4px;
    height: 50px;
  }
  .filterItem {
    display: flex;
align-items: center;
    color: #fff;
    margin: 20px; 
    font-size: 20px;
  }
  .filterItem::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
    }
    .filterItem:nth-child(1)::before { /* 入門課程 */
    background-color: #faaa64;
    }
    .filterItem:nth-child(2)::before { /* 進階課程 */
    background-color: #75d3aa;
    }
    .filterItem:nth-child(3)::before { /* 團體課程 */
    background-color: #87CEEB;
    }
    .filterItem:nth-child(4)::before { /* 其他課程 */
    background-color: #f79090;
    }
  
  
  .calendar {
    background: white;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  /* .weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #0b3760;
    color: white;
    padding: 10px 0;
    
  } */
  
  .weekday {
    font-size: 16px;
    color: #666;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: #eee;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    
  }
  
  .day {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    text-align: center;
    border-radius: 4px;
  }

  .today{
    color:#ff6600;
  }

  .dayNumber {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .eventsWrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #e4dfdf;
    border: 1px solid #e0e0e0;
    border-top: none;
  }

.eventsContainer {
  min-height: 150px;
  background-color: #adaaaa;
  border-radius: 3px;
}

.eventsContainer.hasEvent {
  background-color: white; /* 有課程時的背景色 */
}
  
.event {
  min-height: 100px;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  background-color: #faaa64;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-right: 5px solid #f28740;
  transition: all 0.3s ease;
  cursor: pointer;
}
.event[data-category="團體課程"] {
  background-color: #87CEEB;
  border-right: 5px solid #52b4db; 
}
.event[data-category="進階課程"] {
  background-color: #75d3aa;
  border-right: 5px solid #40bd87; 
}
.event[data-category="其他課程"] {
  background-color: #f79090;
  border-right: 5px solid #fa6464; 
}

.event:not(:first-child){
  margin-top: 5px;
}

  .noEvent {
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    color: #fefcfc;
    font-size: 18px;
    background-color: #adaaaa;
  }
  
  .capacity {
    margin-top: 4px;
    font-size: 0.85em;
  }
  
  .event.full {
    background-color: #999;
    pointer-events: none;
    color: #000;
    font-weight: bold;
    border-right: none;
    opacity: 0.7;
  }
  .event.full .time{
    color: #000;
  }
  .event.full .name{
    color: #000;
  }

  .event.expired {
    background-color: #e0e0e0;
    pointer-events: none;
    color: #666;
    border-right: none;
    opacity: 0.7;
  }

  .expired .time,
  .expired .name {
    color: #666;
  }
  
  .available {
    color: #081a00;
    
  }
  
  
  .time {
    font-size: 16px;
    color: #fffcfc;
    margin-top: 5px;
  }
  
  .event:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .event .time {
    margin-top: 8px;
    font-size: 16px;
    opacity: 0.9;
  }
  .name {
    font-size: 17px;
    color: #fffcfc;
    margin-top: 5px;
  }
  
 
@media (max-width: 768px) {
  .containerH2{
    font-size: 30px;
  }
  
  .dateInfo {
    font-size: 18px;
  }
  
  .nextWeek {
    font-size: 24px;
    height: 35px;
  }
  
  .dayNumber {
    font-size: 20px;
  }
  
  .event {
    min-height: 70px;
    padding: 5px;
    font-size: 18px;
  }
  
  .eventsContainer {
    min-height: 120px;
  }
}

@media (max-width: 440px) {

  .container h2 {
    font-size: 22px;
  }
  .container {
    padding: 5px;
  }
  
  .header {
    padding: 5px 0 ;
    
  }
  
  .dateInfo {
    font-size: 16px;
  }
  
  .nextWeek {
    font-size: 20px;
    height: 30px;
  }
  
  .dayNumber {
    font-size: 18px;
  }
  
  .event {
    min-height: 50px;
    padding: 6px;
    font-size: 18px;
    font-weight: 400;;
  }
  
  .eventsContainer {
    min-height: 100px;
  }
  
  .noEvent {
    font-size: 22px;
    padding-bottom: 10px;
  }
}


