.tempbody {
  /* background-color: #f4f4f4; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 80vh;
  padding: 0 20px;
}
.chatContainer {
  width: 100%;

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.friendName {
  padding: 15px 10px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

.chatBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  word-wrap: break-word;
  min-height: 60vh;
}

.inputArea {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.textInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
}

.chatContainer button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.chatContainer button:hover {
  background-color: #45a049;
}
.connect {
  background-color: #45a049;
  color: #fff;
  padding: 5px;
  text-align: center;
}
.disconnect {
  background-color: #333333a4;
  color: #fff;
  padding: 5px;
  text-align: center;
}

/* 消息樣式 */
.message {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.sent {
  width: 80%;
  background-color: #e1ffc7;
  text-align: right;
  margin-left: auto;
  padding: 10px 20px;
}

.received {
  margin-right: auto;
  width: 80%;
  background-color: #f0f0f0;
  text-align: left;
  padding: 10px 20px;
}
.time {
  padding: 0 10px;
  margin-bottom: 20px;
  color: #333;
}
