/* Footer.module.css */
.container {
  width: 100%;
  height: 100%;
  background-color: #2a2929;
}
.top {
  width: 100%;
  height: 100%;
  padding: 40px 64px 50px;
  background-color: #2a2929;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

}

.part {
  width: 33%;
  align-self: stretch;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 44px;
}

.title {
  text-align: center;
  align-self: stretch;
  color: #f5fff6;
  font-size: 24px;
}

.contactWrapper {
  align-self: stretch;
  height: 143.29px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 27px;
}

.contactInfo {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
}
.group{
  width: 100%;
  display: flex;
  justify-content: center;
  gap:20px
}
.contactItem {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid #ffffffb2;
}

.contactText {
  color: #f5fff6;
  font-size: 17px;
  font-weight: 400;
}

.emailContainer {
  align-self: stretch;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.bottom{
  font-size: 12px;
  text-align: center;
  color: #ffffff83;
  padding-bottom: 20px;
}