
.header {
  width: 100%;
  height: auto;
  padding: 13px 64px;
  text-align: center;
  color: #f5fff6;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #013056,
    #003560,
    #003a69,
    #004073,
    #00457d,
    #0e4f8a,
    #1a5a97,
    #2465a5,
    #3779b9,
    #488dcd,
    #5aa2e2,
    #6bb7f6
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.logo {
  /* text-align: center;
  color: #f5fff6;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  /* width: 130px;
  height: 40px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* padding-top: 10px; */

}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navLink {
  text-align: center;
  color: #f5fff6;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.rightSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.searchForm {
  display: flex;
  gap: 5px;
}

.searchInput {
  padding: 4px 8px;
  width: 200px;
  font-size: 14px;
  font-family: 'Noto Serif TC', serif;
  border-radius: 3px;
  border: none;
}

.searchButton {
  padding: 4px 10px;
  background-color: #f87808;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Noto Serif TC', serif;
}
