.container{
    position: fixed;
    right: 15px;
    bottom:25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.container:hover {
  opacity: 1; 
}

.container img {
    animation: rotateAnimation 5s  linear infinite;
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.text {
    font-size: 0.5em;
    width: 100px;
    color: rgba(255, 255, 255, 0.658);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.7s;
    margin-top: 10px;
  }
  

  .container:hover .text {
    border-radius: 20px;
    padding: 5px 0;
    background-color: #3333338c;
    opacity: 1;
    transition-duration: 0.7s;
  }

  