/* #region ================= Banner  Start ====================== */
.banner {
  background-image: url('/imgs/friend/banner/friendBanner2000.jpg');
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  align-items: flex-start;
  padding: 50px 60px;
}
.title {
  color: white;
  font-size: clamp(2rem, 3.5vw, 3rem);
}
.subtitle {
  color: #ddd;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
/* #endregion ================= Banner  end ====================== */

.friendContainer {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 50px;
  display: flex;
  position: relative;
}

/* #region ================= Select  Start ====================== */

.selectArea {
  width: 20%;
  align-items: center;
  margin: 0 15px;
  display: block;
  flex-direction: column;
  transition: width 0.3s ease, height 0.3s ease;
}

.selectBtn {
  cursor: pointer;
  width: 44px;
  height: 44px;
  font-size: 20px;
  color: white;
  background-color: #f87808;
  margin: auto;
  border: none;
  border-radius: 3px;
  display: none;
  position: absolute;
  left: 15px;
  top: -40px;
  z-index: 20;
}
.selectPart {
  width: 100%;
  list-style: none;
  margin-top: 15px;
}
.selectPart:last-child {
  margin-bottom: 15px;
}
.categoryTitle {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  color: rgb(16, 19, 21);
  background-color: #dee5e7;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.selectPart li {
  cursor: pointer;
  width: 85%;
  height: 60px;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  color: #666;
  padding: 0 20px;
  border-bottom: #cdc9c9 1px solid;
  margin: auto;
  position: relative;
  transition: all 0.2s;
}

.selectPart li:hover {
  border-bottom: #48767b 2px solid;
  transform: translateY(-2px);
  transition: all 0.2s;
}

.selectPart li.active {
  color: #f87808;
  font-weight: 600;
  border-bottom: #f87808 1px solid;
}
/* #endregion ================= Select  End ====================== */

.loaderContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}
/* #region ================= notAuthContainer  Start ====================== */
.notAuthContainer {
  width: 50%;
  height: 500px;
  padding: 50px 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #dee5e7;
}
.notAuthContainer p {
  width: 70%;
  height: 100%;
  text-align: center;
  align-content: center;
  font-size: 30px;
}
.notAuthContainer p a {
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 9px;
  color: #0b3760;
}
/* #endregion ================= notAuthContainer  End ====================== */

/* Dropdown */
.dropdown {
  width: 80%;
  margin-top: 20px;
}

/* #region ================= breadcrumb  Start ======================  */
.breadcrumbContainer {
  max-width: 1200px;
  /* margin: 50px auto; */
  position: relative;
  box-sizing: border-box;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: transparent;
}

.breadcrumbItem {
  position: relative;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

.breadcrumbItem:not(:last-child)::after {
  content: '›';
  position: absolute;
  top: 15px;
  right: -5px;
  color: #666;
  font-size: 20px;
  z-index: 2;
}

.breadcrumbItem a {
  text-decoration: none;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  height: 60px;
  line-height: 60px;
  display: block;
}

/* 懸停效果 - 上浮動畫和底部線條 */
.breadcrumbItem:hover a {
  transform: translateY(-2px);
  color: #666;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.breadcrumbItem:hover a::after,
.breadcrumbItem.active a::after {
  width: 100%;
}

/* 點擊/活動狀態 */
.breadcrumbItem.active a {
  color: #f87808;
  font-weight: 600;
}

/* #endregion ================= breadcrumb  end ======================  */

/* #region ================= pagination  Start ======================  */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border-radius: 8px; */
  margin: 20px 0px;
}

.pagination a {
  color: white;
  background-color: #333;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.pagination a:hover {
  background-color: #f87808;
  transform: scale(1.1);
}

.pagination .active {
  background-color: #f87808;
  font-weight: bold;
  cursor: default;
}

.pagination .disabled {
  background-color: #8b8b8b;
  cursor: not-allowed;
}
/* #endregion ================= pagination  end ======================  */

.rightsection {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 0 20px;
  margin-left: 50px;
}
/* List */
.personList {
  width: 100%;
  padding: 10px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vw;
}

/* #region =================  Card Start ====================== */

.card {
  --font-color: #333;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #555;
  width: 228px;
  height: 300px;
  background: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardPhoto img {
  width: 130px;
  height: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  transition: all 0.3s;
}

.cardTitle {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  padding: 0px 20px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px;
  line-height: 26px;
}

.cardTitle span {
  font-size: 15px;
  color: var(--font-color-sub);
  line-height: 20px;
}

.cardSocials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.cardSocialsBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--main-color);
  border: none;
  color: #ffffff;
  text-align: center;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 10px 0;
}
.cardSocialsBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cardSocialsBtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.cardSocialsBtn:hover span {
  padding-right: 15px;
}

.cardSocialsBtn:hover span:after {
  opacity: 1;
  right: 0;
}
.card:hover > .cardSocials {
  opacity: 1;
  height: 40px;
  margin-bottom: 10px;
}
.cardPhoto img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
/* #endregion =================  Card end ====================== */

@media (max-width: 1440) {
  .banner {
    background-image: url('/imgs/friend/banner/friendBanner1440.jpg');
  }
}
@media (max-width: 1390px) {
  .personList {
    gap: 4vw;
  }
}
@media (max-width: 1140px) {
  .selectBtn {
    display: block;
  }
  .selectArea {
    display: none;
    position: absolute;
    z-index: 20;
    background-color: #ebeff1;
    width: 90%;
  }
  .rightsection {
    width: 100%;
  }
  .categoryTitle {
    background-color: #dee5e7;
  }
  .selectPart li {
    font-size: 20px;
  }
  .notAuthContainer {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .selectArea {
    flex-direction: column;
    align-items: center;
  }
  .selectPart {
    width: 100%;
    border-right: none;
    text-align: left;
  }
  .dropdown select {
    padding: 12px;
  }
  .breadcrumbItem a {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .personList {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .dropdown select {
    padding: 15px;
  }
}
@media (max-width: 420) {
  .banner {
    background-image: url('/imgs/friend/banner/friendBanner420.jpg');
  }
}
