/* components/reservation-modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 90%;
  max-width: 500px;
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.modalBody {
  margin: 50px 0;
}
.topsection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.topRsection {
  padding: 0 25px;
}
.topsection img{
  border-radius: 3px;
}
.topsection p{
  margin: 10px 0;
}
.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0px;
}
.uername {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
}
.icon {
  margin-right: 15px;
  animation: rotate 6s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.userInfo {
  margin: 20px 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f6f6f6;
  position: relative;
}
.userInfo::after {
  content: "";
  position: absolute;
  bottom: 83px;
  left: 20%;
  transform: translateX(50%) rotateX(180deg);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f6f6f6;
}
.userInfo p {
  line-height: 2rem;
  margin: 10px;
}

/* button */
.sendBtn {
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 16px;
  background: #333;
  color: white;
  padding: 0.7em 0.9em;
  padding-left: 0.8em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin: 10px;
}

.btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn:hover .svgWrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn:hover svg {
  transform: translateX(2.1em) rotate(45deg) scale(1.1);
}

.btn:hover span {
  transform: translateX(5em);
}

.btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.hastag ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.hastag ul li {
  margin-top: 5px;
  margin-right: 10px ;
  border-radius: 3px;
  cursor: pointer;
  color: #333;
}
.hastag svg {
  width: 14px;
  height: 14px;
  fill: #333;
}

.bottomsection {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 成功 */
.success {
  margin-left: 10px;
}
.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmarkCircle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmarkCheck {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

.bottomSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
