@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

.equipmentRental {
    font-family:
      "Noto Serif TC",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
  }
  
  .contentSection {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 1440px;
    padding: 30px 0;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: auto;
  }

  .contentTitle{
    display: flex;
    justify-content: space-between;
  }
  
  @media (width <= 991px) {
    .contentSection {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  