.productGrid {
  width: 100%;
  justify-content: center;
  margin: auto;
  min-height: 1500px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

}

.productArea{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.productItem{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 35px;
  justify-content: center;
  margin-left: 1%;
}

@media (width <= 991px) {
  .productGrid {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
