.personContainer {
  height: 100%;
  margin: auto;
  margin-bottom: 100px;
  max-width: 1440px;
}
.user_info {
  max-width: 1100px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f3;
  padding: 20px 10px;
  border-radius: 3px;
  gap: 20px;
  position: relative;
}

.user_info .user_avatar {
  width: 250px;
  height: 250px;

  margin: 20px;
}
.user_info .user_avatar img {
  border-radius: 3px;
}
.user_info .user_detail {
  max-width: 800px;
  margin: 10px;
}
.user_info .user_detail p {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.user_info .user_detail ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}
.user_info .user_detail li {
  line-height: 2rem;
  padding: 5px;
}
.user_info .user_detail li span{
  margin-right: 5px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.user_detail .hastag ul {
  display: flex;
}
.user_detail .hastag ul li {
  font-weight: bold;
  color: #333333af;
  background-color: white;
  padding: 3px 15px;
  margin: 10px;
  box-shadow: 5px 3px 5px #33333388;
  border-radius: 3px;
}
/* button */
.sendBtn {
  max-width: 1100px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.btn {
  font-family: inherit;
  font-size: 18px;
  background: #0b3760;
  color: white;
  padding: 0.7em 0.9em;
  padding-left: 0.8em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin: 10px;
}

.btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn:hover .svgWrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn:hover svg {
  transform: translateX(2.1em) rotate(45deg) scale(1.1);
}

.btn:hover span {
  transform: translateX(5em);
}

.btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
@media (max-width: 768px) {
  .user_info {
    padding: 10px;
    margin-top: 15px;
    flex-direction: column;
    gap: 0px;
  }
  .user_info .user_avatar{
    width: 180px;
    height: 180px;
  }
  .user_info .user_avatar img {
    width: 180px;
    height: 180px;
  }

  .user_info .user_detail p {
    font-size: 20px; /* 更小的字體 */
  }

  .user_info .user_detail ul li {
    font-size: 12px;
  }

  .user_detail .hastag ul li {
    font-size: 12px;
    margin: 5px;
    padding: 3px 8px;
  }
  .sendBtn {
    position: static; 
    margin-right: auto; 
  }
  .breadcrumbItem a{
    font-size: 14px;
  }
  
}

@media (max-width: 440px) {
  .user_info .user_avatar 
  {
    width: 150px;
    height: 150px;
  }
  .user_info .user_avatar img{
    width: 150px;
    height: 150px;
  }

  .user_info .user_detail p {
    font-size: 18px;
  }

  .user_info .user_detail ul li {
    font-size: 12px;
  }


}