
/* Bannner */
.banner {
  background-image: url('/imgs/gymfriendBanner2000.jpg');
  max-width: 1440px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  align-items: flex-start;
  margin-top: 50px;
  padding: 50px 60px;
}
.banner h3 {
  color: white;
  font-size: 3rem;
}
.banner p {
  color: white;
  font-size: 1.5rem;
}
.friendContainer {
  height: 100%;
  margin: auto;
  /* margin-top: 20px; */
  margin-bottom: 100px;
  max-width: 1440px;
  background-color: #d4cec8;;
}
/* Select */
.selectTarget {
  margin: auto;
  max-width: 800px;
  /* margin-top: 20px; */
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  /* background-color: #fff6; */

  border-radius: 3px;
  /* background-color: #0b3760b4; */
  /* color: white; */
}
.selectTarget p {
  padding: 10px 15px;
  margin: 10px;
  border-radius: 3px;
}
.selectTarget p span {
  display: inline-block;
  padding: 0 5px;
}
.selectTarget ul {
  /* background-color: #0b3760; */
  /* color: white; */
  margin: 0;
  padding: 10px 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 5px 3px 5px #33333388; */
  border-radius: 3px;
}
.selectTarget ul li {
  cursor: pointer;
  padding: 0px 15px;
  /* border-right: 1px solid white; */
  border-right: 1px solid #333;
}
.selectTarget ul li:hover {
  /* color: #f87808; */
  text-decoration: underline;
  text-underline-offset: 5px;
}
.selectTarget ul li:last-child {
  border-right: none;
}
/* 麵包屑 */
.breadcrumbContainer {
  max-width: 1200px;
  /* margin: 50px auto; */
  position: relative;
  font-family: 'Noto Serif TC', serif;
  box-sizing: border-box;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* border-bottom: 1px solid #eee; */
  background-color: transparent;
}

.breadcrumbItem {
  position: relative;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
}

.breadcrumbItem:not(:last-child)::after {
  content: '›';
  position: absolute;
  top: 13px;
  right: -5px;
  color: #666;
  font-size: 20px;
  z-index: 2;
}

.breadcrumbItem a {
  text-decoration: none;
  color: #666;
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
  height: 60px;
  line-height: 60px;
  display: block;
}

/* 懸停效果 - 上浮動畫和底部線條 */
.breadcrumbItem:hover a {
  transform: translateY(-2px);
  color: #666;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* 底部線條動畫 */
/* .breadcrumbItem:not(.active) a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
} */

.breadcrumbItem:hover a::after,
.breadcrumbItem.active a::after {
  width: 100%;
}

/* 點擊/活動狀態 */
.breadcrumbItem.active a {
  color: #f87808;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 10px;
}
/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border-radius: 8px; */
  margin: 20px 0px;
}

.pagination a {
  color: white;
  background-color: #0b3760;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.pagination a:hover {
  background-color: #db6318c7;
  transform: scale(1.1);
}

.pagination .active {
  background-color: #db6318;
  font-weight: bold;
  cursor: default;
}

.pagination .disabled {
  background-color: #8b8b8b;
  cursor: not-allowed;
}

.personList {
  background-color:  #fff6;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px;
  justify-content: flex-start;
}

/* CARD */

.profileCard {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 228px;
  height: 271px;
  padding-top: 79px;
  flex-direction: column;
  justify-content: space-between;
}

.profileCard_container {
  background-color: #0b3760ce;
  /* background-color: #0b3760; */
  display: flex;
  height: 200px; /* 384px * 2/3 */
  padding-bottom: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 3px;
}

.profileImage {
  aspect-ratio: 0.98;
  object-fit: contain;
  width: 150px; /* 248px * 2/3 */
  border-radius: 50%; /* 126px * 2/3 */
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background: url('https://xsgames.co/randomusers/avatar.php?g=male') lightgray
    50% / cover no-repeat;
}

.profileName {
  width: 146px; /* 219px * 2/3 */
  font-size: 23px; /* 35px * 2/3 */
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Noto Serif TC';
}

.profile_divider {
  border: 0;
  border-top: 1px solid #fff;
  margin-top: 12px;
  width: 90%; /* 344px * 2/3 */
}

.profile_description_wrapper {
  display: flex;
  margin-top: 3px;
  height: 49px; /* 73px * 2/3 */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile_description {
  padding: 0px 20px;
  font-size: 12px; /* 18px * 2/3 */
  color: #fff;
  line-height: 20px;
  flex: 1;
  margin: 0;
  /* overflow: hidden; */
}

.profile_arrow {
  border-radius: 24px;
  background-color: #faf0ca;
  position: absolute;
  padding: 0 7px;
  font-size: 13px; /* 20px * 2/3 */
  color: #828181;
  font-weight: 700;
  width: 23px; /* 34px * 2/3 */
  height: 23px; /* 34px * 2/3 */
  right: 15px;
  bottom: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.circle {
  width: 170px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorite_button {
  background: #eb7d3e;
  /* background: #e76317; */
  border: none;
  color: white;
  padding: 6px;
  width: 60%;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  border-radius: 3px;
}

.card {
  display: flex;
  width: 305px;
  height: 402px;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  padding: 30px;
}
.avatar {
  width: 150px;
  height: 150px;
  border: 1px solid #333;
  border-radius: 150px;
  background: url('https://xsgames.co/randomusers/avatar.php?g=pixel') lightgray
    50% / cover no-repeat;
  margin-bottom: 20px;
}
.personContent {
  display: flex;
  height: 218px;
  align-items: center;
}
.personContent h5 {
  color: #828181;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.personContent p {
  color: #828181;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
