@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

.equipmentRental {
    font-family:
      "Noto Serif TC",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
  }
  
  .contentSection {
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 30px 0;
    display: flex;
    position: relative;
    overflow: hidden;
    margin: auto;
    /* background-image: url(/img/contentBackground3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  */
  }

  .contentTitle{
    display: flex;
    justify-content: flex-end;
  }
  
  @media (width <= 991px) {
    .contentSection {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  