@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");

.li{
    list-style-type: none;
}

.active {
    background-color: #f87808 !important;
    color: white !important;
    font-weight: bold;
}

.pagination {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    gap: 5px;
}

.pageButton {
    color: white;
    background-color: #333;
    padding: 10px 15px;
    border: 1px solid;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 4px;
    cursor: pointer;
}

.pageButton:hover {
    background-color: #f87808;
    transform: scale(1.1);
}

/* .active {
    background-color: #db6318;
    font-weight: bold;
    cursor: default;
} */

.disabled {
    background-color: #8b8b8b;
    cursor: not-allowed;
    pointer-events: none;
}