.card {
    flex-grow: 1;
    flex-shrink: 1;
    align-self: stretch;
    width: 250px;
    max-width: 250px;
    height: 365px;
    /* margin: auto; */
    /* padding: 10px; */
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  .cardDark {
    background-color: rgb(255, 255, 255);
    color: #191313;
  }
  
  .cardLight {
    background-color: #fff;
    color: #000;
  }
  
  .imageContainer {
    aspect-ratio: 1.169;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .productImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }
  
  .iconWrapper {
    border-radius: 50px;
    width: 40px;
    padding: 10px 7px;
    position: relative;
    z-index: 1;
  }
  
  .icon {
    aspect-ratio: 1.08;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  .btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .content {
    font-family:
      "Noto Serif TC",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
      padding: 8px;
  }
  
  .header {
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    display: flex;
  }
  .hearts{
    color: coral;
  }

  .price{
    font-size: 18px;
    display: flex;
    align-items: center;
    color: rgb(31, 86, 112);
    font-weight: 900;
    /* width: 40%; */
  }
  
  .divider {
    border: 1px solid #697278;
    width: 380px;
    max-width: 100%;
    min-height: 1px;
    margin-top: 11px;
  }
  
  .description {
    color: #697278;
    margin-top: 11px;
    font-size: 14px;
    height: 50px;
  }
  
  .cardLight .description {
    color: #0f1819;
    margin-top: 11px;
  }

  .heart{
    font-size: 24px;
    color: rgb(232, 123, 33);
    cursor: pointer;
  }
  
  @media (width <= 991px) {
    .imageContainer {
      padding-bottom: 100px;
    }
  }
  