.innerContainer {
  width: 320px;
  min-height: 400px;
  padding: 12px;
  background: #eee;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-top: 5px;
  gap: 12px;
  transition: all 0.3s ease-in-out;
}
.innerContainer:hover {
  background: #f0eded;
  transform: scale(1.05);
}

.imageWrapper {
  width: 100%;
  height: 212px;
  position: relative;
}

.contentWrapper {
  width: 100%;
  height: auto;
  padding: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
}

.titleSection {
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  min-height: 150px;
  flex-grow: 1;
}

.title {
  padding: 5px 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px;
  max-height: none;
  overflow: visible;
  word-break: break-word;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titleContainer::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -5px;
  background: #000000;
  display: block;
  margin-top: 5px;
}

.infoContainer {
  padding: 8px 0;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.info {
  width: 100%;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 1.1px;
  line-height: 30px;
}

.buttonContainer {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 10px;
}

.button {
  border: none;
  width: 50%;
  height: 47px;
  background: #e76317;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background: #b9b3b3;;
  color: rgb(23, 23, 23);
}
.icon {
  font-size: 20px;
  color: #e76317;
  flex-shrink: 0;
}

.infoItem span {
  font-size: 16px;
  color: #333;
  flex-grow: 1;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}


@media (max-width: 768px) {
  .innerContainer {
    width: 90%;
    min-height: 350px;
    margin: auto;
  }
  
  .imageWrapper {
    height: 180px;
  }
  
  .title {
    font-size: 28px;
  }
  
  .info {
    font-size: 16px;
  }
  
  .buttonContainer {
    flex-direction: column;
    gap: 8px;
  }
  
  .button {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .innerContainer {
    width: 80%;
    min-height: 300px;
    margin: auto;
  }
  
  .imageWrapper {
    height: 150px;
  }
  
  .title {
    font-size: 24px;
  }
  
  .info {
    font-size: 14px;
  }
}
