.pageContainer {
    width: 100%;
    max-width: 1440px;
    min-height: screen;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px; */
  }
  
  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    max-width: 720px;
  }
  
  .confirmationImage {
    width: 250px;
    height: 250px;
    margin: 5px; 
  }
  
  .confirmationTitle {
    color: #928a8a;
    text-align: center;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 36px;
  }
  
  .orderDetailsContainer {
    gap: 30px;
    /* width: 100%; */
    max-width: 369px;
    display: flex;
    flex-direction: column;
    
  }
  
  .orderDetailItem {
    color: #000;
    font-family: Inter;
    font-size: 24px;
  }
  
  @media (width<=640px) {
    .confirmationImage  {
        width: 100px;
        height: 100px;
        margin-top: 100px;
    }

    .confirmationTitle {
      font-size: 20px;
    }
  
    .orderDetailItem {
      font-size: 16px;
    }
  }
  
  .container {
    display: flex;
    justify-content: center; /* 水平置中 */
    gap: 90px; /* 設定按鈕間距 */
    margin: 40px; /* 與表格的間距 */
}

.pseudo {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    font-family: helvetica;
    color: white;
    font-size: 20px;
    background-color: #eb854a;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transform: skew(-35deg); /* 讓按鈕變成平行四邊形 */
    overflow: hidden;
}

.pseudo span {
    display: inline-block;
    transform: skew(35deg); /* 讓文字回正 */
}