/* _styles/banner.module.css */
.bannerImageContainer {
    position: relative;
    width: 100%;
    height: 500px; /* 根據設計指南 */
    overflow: hidden;
  }
  
  .bannerImageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/coach/banner.jpg') top no-repeat;
    background-size: cover;
    opacity: 0.9;
    z-index: -3;
  }
  
  /* 灰色覆蓋層 */
  .bannerImageContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 灰色覆蓋層 */
    z-index: -2;
  }
  
  .title {
    color: white;
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    left: 50px;
    bottom: 80px;
    z-index: -1;
  }
  .p {
    color: #dddddd;
    font-size: clamp(1rem, 2vw, 1.5rem);
    position: absolute;
    left: 50px;
    bottom: 50px;    
    z-index: -1;
  }
  
 