.searchContainer {
    padding: 20px;
  }
  
  .searchForm {
    display: flex;
    gap: 10px;
  }
  
  .select {
    padding: 8px;
    width: 200px;
    border-radius: 3px;
    font-family: "Noto Serif TC", serif;
    font-size: 18px;
  }
  
  .button {
    padding: 8px 20px;
    background-color: #f87808;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    font-family: "Noto Serif TC", serif;
  }
  
  /* 可以添加懸停效果 */
  .button:hover {
    background-color: #e56c00;
  }