.searchContainer {
    padding: 10px;
    position: relative;
  }
  
  .searchForm {
    display: flex;
    gap: 10px;
  }
  
  .select {
    width: 250px;
    border-radius: 3px;
    font-size: 18px;
    border: 2px rgb(221, 215, 215) solid;
  }
  


  .searchForm button {
    width: 60px;
    padding: 12px 10px;
    background-color: #f87808;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
 
  }



  .clearSearch {
    position: absolute;
    bottom: -20px;
    right: 0;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: #fff;
    border: none;
    color: rgb(62, 62, 62);
    cursor: pointer;
    font-size: 15px;
  }

  .clearSearch:hover {
    color: #db6318;
  }