.searchContainer {
  display: inline-block;
  width: 500px;
}

.searchForm {
  display: flex;
  justify-self: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.dropdown button {
  background-color: white;
  color: #142020;
  width: 100%;
  height: 100%;
  font-size: 19px;
  border: 1px solid #142020;
  cursor: pointer;
  text-align: center;
  padding: 12px 8px;
  border-radius: 3px;
}
.dropdown button:hover {
  background-color: #142020;
  color: white;
  padding: 12px 8px;
  border-radius: 3px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dropdownContent.show {
  display: block;
}

.dropdownContent button {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #142020;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;

}

.dropdownContent button:hover {
  background-color: #142020;
  color: white;
  border-radius: 3px;

}

.button {
  background-color: #142020;
  color: white;
  width: 200px;
  height: 100%;
  padding: 12px 8px;
  font-size: 19px;
  border: 1px solid #142020;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: 440px){
  .searchContainer {
    width: 350px;
  }
}