
.container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
  margin: 0px 10px 10px 10px;
}

.btnHome {
  padding: 0 20px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #666;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.btnHome:hover {
  transform: translateY(-2px);
}

.active {
  color: #f87808;
  font-weight: 600;
}

.active::after,
.btnHome:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #000;
  transition: all 0.5s ease;
}
