/* 聊天室預設畫面 */
.intoChatRoom {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.intoChatRoom p {
  font-size: 30px;
}
.intoChatRoom a {
  font-size: 20px;
  color: #f87808;
  text-decoration: underline;
  text-underline-offset: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.intoChatRoom a:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
/* end */
.chatsPage {
  height: 100%;
  width: 80%;
  margin: 0 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chatsPage h5 {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 10px;
}

.dash {
  border-top: 2px solid #bbb;
  margin: 10px 0;
}
.chatsPage ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  overflow-y: auto;
}
.official {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.chatsPage ul li {
  background-color: #f6f6f6;
  height: 50px;
  margin: 5px 0;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.chatsPage ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatsPage button {
  margin: 5px;
  padding: 6px 10px;
  border: none;
  background-color: #ecb246;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.chatsPage button:hover {
  background-color: #ecb246;
}

.chatsPage button:active {
  background-color: #ecb246;
}
.unread {
  width: 30px;
  height: 30px;
  background-color: #c97d7d;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
